DATABASE_URL=postgresql://localhost:5432/vocab_test_client_side
TEST_DATABASE_URL=postgresql://localhost:5432/vocab_test_client_side_test
LOCAL_DB_BUNDLE_DIR=target/local-polish-lexicon-bundle
PORT=8080
