.calva/output-window/
.calva/repl.calva-repl
.classpath
.clj-kondo/.cache
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
!.lsp/
!.lsp/config.edn
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/classes
/node_modules
/public/js
/.shadow-cljs
/playwright-report
/test-results
/target
/data/subtlex-pl/subtlex-pl.zip
/data/subtlex-pl/subtlex-pl.csv
/data/subtlex-pl/subtlex-pl-lemmas-master.csv
npm-debug.log*
.vercel
