{:deps true
 :dev-http {8000 "public"}
 :nrepl {:port 7888
         :middleware [cider.piggieback/wrap-cljs-repl]}
 :builds
 {:dev
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :module-loader true
   :modules
   {:main {:init-fn jamiepratt.vocab-test-client-side.core/init}}}
  :release
  {:target :browser
   :output-dir "target/release/public/js"
   :asset-path "/js"
   :module-loader true
   :modules
   {:main {:init-fn jamiepratt.vocab-test-client-side.core/init}}}}}
